.box-cookies.accept {
  display: none !important
}

.box-cookies {
  bottom: 0;
  width: 100%;
  z-index: 998;
  color: #fff;
  position: fixed;
  background: rgba(0, 0, 0, .9)
}

.box-cookies .msg-cookies,
.box-cookies .btn-cookies {
  text-align: center;
  padding: 10px 15px;
  color: #fff
}

.box-cookies .btn-cookies {
  background: #1e88e5;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .box-cookies {
      display: flex;
      align-items: center;
      height: 60px
  }
  .box-cookies .btn-cookies {
      height: 60px;
      margin-left: auto;
      color: #fff
  }
}

@media screen and (max-width: 575px) {
  .box-cookies .btn-cookies {
      width: 100%;
  }
}